force-app/main/default/flows/Field_Service_Action_Embedded.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Assign_Field_Service_Action</name>
        <label>Assign Field Service Action</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>FieldServiceAction</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PICKLIST_Select_which_Field_Service_action_you_want_to_perform</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldServiceActionHeight</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NUM_Field_Service_Action_Display_Height_in_pixels</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SCREEN_Field_Service_Action</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>CHOICE_AB</name>
        <choiceText>Appointment Booking</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Appointment Booking</stringValue>
        </value>
    </choices>
    <choices>
        <name>CHOICE_Candidates</name>
        <choiceText>Candidates</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Candidates</stringValue>
        </value>
    </choices>
    <choices>
        <name>CHOICE_Emergency</name>
        <choiceText>Emergency</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Emergency</stringValue>
        </value>
    </choices>
    <environments>Default</environments>
    <interviewLabel>Field Service Action Embedded {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Field Service Action Embedded</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>SCREEN_Field_Service_Action</name>
        <label>Field Service Action</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>CUSTOM_SFSActions</name>
            <extensionName>c:sfsActionInFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>sfsAction</name>
                <value>
                    <elementReference>FieldServiceAction</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>frameHeight</name>
                <value>
                    <elementReference>FieldServiceActionHeight</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SCREEN_Select_Field_Service_Action</name>
        <label>Select Field Service Action</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Field_Service_Action</targetReference>
        </connector>
        <fields>
            <name>PICKLIST_Select_which_Field_Service_action_you_want_to_perform</name>
            <choiceReferences>CHOICE_AB</choiceReferences>
            <choiceReferences>CHOICE_Candidates</choiceReferences>
            <choiceReferences>CHOICE_Emergency</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select which Field Service action you want to perform</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>NUM_Field_Service_Action_Display_Height_in_pixels</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>FieldServiceActionHeight</elementReference>
            </defaultValue>
            <fieldText>Field Service Action Display Height (in pixels)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>SCREEN_Select_Field_Service_Action</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Allowed values: Appointment Booking, Candidates, Emergency</description>
        <name>FieldServiceAction</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Appointment Booking</stringValue>
        </value>
    </variables>
    <variables>
        <name>FieldServiceActionHeight</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>550.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
